<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RESTful APIs Project</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="background: #B0C4DE;">
	<div class="container px-4 bg-light text-dark " style="width: 600px; height: 500px; padding: 25px;">
		<div class="row" >
			<div class="col align-self-center">
				<h1>Weather RESTful APIs Project</h1>
			</div>
		</div>
		<hr>
		{% block content %}{% endblock content %}
    </div>
</body>
</html>